/** Library import */
import { HTMLAttributes } from 'react'
import clsx from 'clsx'

interface {{properCase name}}Props extends HTMLAttributes<HTMLElement> {}

/** Main description for this component. */
const {{properCase name}} = ({
	children,
	className,
	...htmlAttributes
}: {{properCase name}}Props): JSX.Element | null => {
	return (
		<div className={clsx(className)} {...htmlAttributes}>
			{children}
		</div>
	);
};

export default {{properCase name}};
